<!---------------------------------------------------------------------------------------------------------------------------->
<!-- Added by     : Wangchuk, 21-05-2025 -->
<!-- BluePrint    : bp_dev_token_app   -->
<!-- File         : links_css.html  -->
<!---------------------------------------------------------------------------------------------------------------------------->

<link rel="stylesheet"  href="{{ url_for('bp_dev_token_app.static', filename='css/styles.css')}}"> <!-- CSS -->




