<!---------------------------------------------------------------------------------------------------------------------------->
<!-- Added by     : Wangchuk, 21-05-2025 -->
<!-- BluePrint    : bp_dev_token_app   -->
<!-- File         : links_js.html  -->
<!---------------------------------------------------------------------------------------------------------------------------->

<script src="{{ url_for('bp_dev_token_app.static', filename='js/dev_token_apps.js')}}" type="text/javascript"></script>
<script src="{{ url_for('bp_dev_token_app.static', filename='js/api.js')}}" type="text/javascript"></script>
<script src="{{ url_for('bp_dev_token_app.static', filename='js/local_variables.js')}}" type="text/javascript"></script>

<!-- Modal JS -->
<script src="{{ url_for('bp_dev_token_app.static', filename='js/modal_assign_developer.js')}}" type="text/javascript"></script>





