<!---------------------------------------------------------------------------------------------------------------------------->
<!-- Added by     : Wangchuk, 21-05-2025 -->
<!-- BluePrint    : bp_dev_token_app   -->
<!-- File         : modal_assign_developer.html  -->
<!---------------------------------------------------------------------------------------------------------------------------->
<div id="modal_assign_developer" class="modal">
    <div class="modal_content w-25">

        <!-- Header -->
        <div class="row">
            <div class="col-sm-12 bg-dark py-2  ">
                <span class="text-light ms-4" id="modal_header"> <!-- Data will come from JS --> </span>
                <span class="cursor-pointer bg-light rounded px-1 hover-text-red float-end small" id="close_modal_btn">&#x2715;</span>

            </div>
        </div>

        <!-- Body -->
        <div class="row bg-light  p-4 ">
            <!-- Section name options -->
            <div class="col-sm-12">
                <span class="">Pick developer</span>
                <select class="form-control form-control-sm " id="select_tag" autocomplete="off" autofocus>
                    <!-- Data will come from JS -->
                </select>
            </div>

            <div class="col-sm-12 py-3 text-center">
                <button class="btn btn-sm btn-dark px-3  d-inline-block hide" id="commit_btn">
                    Assign
                </button>
            </div>

        </div>

    </div>
</div>